body {
    letter-spacing: 0.1px;
    font-family: 'Share Tech Mono', Monospace, Courier;
    font-weight: 400;
    font-size: 17px;
    color: #c8c8c8;
    background: #222;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex
}

li{
    padding: 0px 0px 0px 30px;
}

p{
    width: 300px;
    margin:0;
    background: #222;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

table{
    width: 350px;
    margin:0;
    background: #222;
    display:table;
    margin-left: auto;
    margin-right: auto;
}

td{
    border: 1px solid grey;
}

fieldset{
    width: 340px;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
}

a{
    letter-spacing: 0.1px;
    font-family: 'Share Tech Mono', Monospace, Courier;
    font-weight: 400;
    color: #c8c8c8;
    background: #222;
}

.divWithSmallPadding{
    padding: 15px;
}

.divWithPadding{
    padding: 30px;
}

.commonLink{
    font-size: 17px;
}

.statsDiv{
        padding: 0;
        margin: 0;
}

.charactersTable{
        width: 300px;
        margin:0;
        background: #222;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
}

.headerList{
       z-index: 2;
       position: absolute;
       top: 8px;
       right: 0px;
       text-align: right;
       font-size: 13px;
}

.headerName{
       text-align: left;
       font-size: 13px;
}